body{
    padding: 0;
    margin: 0;
}
.main-menu{
    background: #171717;
    /* size: 30%; */
    height: 100%;
    position:fixed;
    width: 20%;
    /* display: inline; */
    float: left;
}
.menu-head{
    height: 25%;
    width: 100%;
    
    background-image: url("https://wallpaperaccess.com/full/3518345.jpg");
}
.img-icone{

    width: 150px;
    height: 150px;
    border-radius: 50px;
    /* text-align: center; */
    /* background-position: center; */
    /* background-image: url("https://www.clipartmax.com/png/full/171-1717870_stockvader-predicted-cron-for-may-user-profile-icon-png.png"); */
}
.menu-body{
    height: 66%;
    color: rgb(255, 255, 255);
}
.menu-footer{
    background: #242424;
    border-top-style: solid;
    border-color:  #2D2D2D;
    height: 5%;
}
.main-body{
    /* background: #ffffff; */
    padding-top: 10px;
    /* position: inherit; */
    /* display: inline; */
    float: right;
    width: 80%;

}
.body-head{
    text-align: center;
}
.card{
    width: 45%;
    float: left;
    margin-left: 150px;
    /* background: #dbdada; */
}
.card-head{
background: rgb(0, 174, 255);
width: 100%;
height: auto;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
padding-left: 15px;
color:#fff;
}
label{text-align: left;
    display: block;

}
input{
    border: none;
    outline: 0;
    border-bottom: 3px solid rgb(0, 174, 255);
    border-radius: 5%;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    background-color: transparent;
    }
    .w-btn{
        margin: auto;
        background: linear-gradient(to top,rgb(0, 174, 255),rgb(145, 218, 252));
        border-radius: 20px;
        border: none;
        outline: none; 
        width: 90px;
        height: 30px;
        color: #FFFFFF;
    }
    .s-btn{
        margin: auto;
        background: #f1f5f7;
        border-radius: 20px;
        outline: none; border: none;
        width: 90px;
        height: 30px;
        box-shadow:10px 10px 15px rgb(206, 204, 204);
        
        /* border: 1px #171717; */
    }
    button:active{
        transform: scale(.9,.9);
    }
