<!DOCTYPE html>
<html>
<head>
<title>Create</title>

 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/style/form.css"> 
</head>
<body >
    <div>
        <div class="main-menu">
            <div class="menu-head">
            </div>
            <div class="menu-body">

               
                </div>
                <div class="menu-footer">
                    <input class="search-input">
                </div>
                </div>
    
            <div class="main-body">
                <div class="body-head">
                    <h3> action</h3>
                </div>
                <div class="card">
                    <div class="card-head">
                        <h1> Create</h1>
                    </div>
                    <form>
                        <label> Enter film Name</label>
                        <input type="text" name="name" id="name">
                        <label> Enter film img url</label>
                        <input type="url" id="img_URL">
                        <label> Enter film trailer url</label>
                        <input type="url" name="trailer" id="trailer">
                        <label> Category </label>
                        <input type="text" name="category" id="category">

                        <label> Enter film description</label>
                        <textarea type="textarea" name="description" id="description" style="width: 100%;"></textarea>
                         <button type="reset" class="s-btn">cancel</button>
                        <button type="submit"class="w-btn"></i> submit</button>
                       
                     </form>
                </div>
            </div>
            <div >

            </div>
        </div>
    </div>
</body>
</html> 