<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
    
 <%# include("partials/nav.ejs") %>


        <% for(var i=0; i<films.length ; i++) { %>
   <a href="/<%=films[i].slug%>" style="text-decoration: none;"  >

        <div class="filmCard">
            <img src="<%=films[i].image_URL%>"  width="40%">

           <a href="<%=films[i].trailer%>"> Watch the Trailer </a>
        </div>
    </a>
            <% }%>


<hr>
            

          
    <%#include("partials/footer.ejs") %>
</body>
</html>