<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
    
 <%-include("partials/nav.ejs") %>

   <%  var filmLength=10 %>

 <% if(isCategory) %>
var filmLength=film.length
  <% %>
        <% for(var i=0; i<filmLength; i++) { %>
   <a href="<%=film[i].slug%>" style="text-decoration: none;"  >
        <div class="filmCard">

            <h1>film[i].name</h1>
            <h1>film[i].description</h1>
            <h1>film[i].img</h1>
            <h1>film[i].trailer<h1>
        </div>
    </a>
            <% }%>
            

            <% }%>
    <%-include("partials/footer.ejs") %>
</body>
</html>