<html><head>
    <title>movies</title>
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div>
        <div class="main-menu">
            <div class="menu-head">
                </div>
                <div class="menu-body">
                <ul>
                    <li><a>romantic</a></li>
                </ul>
                </div>
                <div class="menu-footer">
                    <input class="search-input">
                </div>
                </div>
    
            <div class="main-body">
              
            
            
                <div class="card">
                    <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw4F1wxVpDA3URJVZAkvAB-Ngfb9viI-gZFw&amp;usqp=CAU">
                    <div class="card-body">
                        <h3> venam</h3>
                        <p>
                            fdweifjcaweirub awoef w;gb lweh g 
                            aweygrcshdgfowefgb;wehf weg iuqweg 
                            fdwuegfwjebpwuie gwuedf wieugw dqj
                            wwdjalsk 
                        </p>
                        <button class="w-btn"><i class="fa fa-play"></i> watch</button>
                        <button class="s-btn">see traier</button>
                    </div>
                </div>
                
            
                
    
            
               
              
            
        </div> 
    </div>
    
    </body></html>